# -*- mode: yaml -*-

includes:
  - phpstan-baseline.neon

parameters:
  level: 6
  paths:
    - src
  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Construct empty\(\) is not allowed#'
    - '#generic class ReflectionClass does not specify its types: T#'
